.fet-table {
    margin: 16px 0;
    width: 100%;
}

.fet-operator {
    color: #1677ff;
    cursor: pointer;
}

.fet-operator-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.fet-add.ant-btn {
    margin-top: 12px;
}

.fet-add-top {
    margin-top: unset;
    margin-bottom: 10px;
}

.fet-field {
    position: relative;
}

.fet-field[data-has-error] .ant-input,
.fet-field[data-has-error] .ant-select .ant-select-selector,
.fet-field[data-has-error] .ant-input-number {
    border-color: #ff4d4f;
}

.fet-error {
    color: #ff4d4f;
    font-size: 12px;
    line-height: 20px;
    margin-top: 2px;
}

.fet-field .ant-input,
.fet-field .ant-select {
    width: 100%;
}
